apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-cxanfedc
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-cxanfedc:bb678ac7555565095b0661a9db8db97bc562822e@sha256:37a78fdb71180f649cf520b5018926bf0a370bccb61f4df4ed7c8f6cd10f6af3
          name: container-image
